@import "../../../../assets/theme/_var.scss";

.transact_modal {
    .modal-content {
        padding-inline: 4.3rem;
    }

    .modal_heading {
        h2 {
            font-family: $secondaryfont;
            font-size: 6.2rem;
            font-weight: 700;
            line-height: 1;
            margin-inline: -2rem;

            img {
                width: 6.4rem;
                height: 6.4rem;
            }
        }

        // h3 {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     text-align: center;
        //     font-size: 3.2rem;
        //     font-weight: 500;
        //     line-height: 2.4rem;

        //     @media (max-width: 1599px) {
        //         font-size: 2.8rem;
        //     }

        //     @media (max-width: 1399px) {
        //         font-size: 2.4rem;
        //     }

        //     @media (max-width: 575px) {
        //         font-size: 2rem;
        //     }

        //     >img {
        //         width: 3.6rem;
        //         height: 3.6rem;
        //         flex-shrink: 0;
        //         margin-right: 0.4rem;

        //         @media (max-width: 991px) {
        //             width: 3rem;
        //             height: 3rem;
        //         }
        //     }
        // }
    }

    // .current_bal {
    //     display: flex;
    //     align-items: center;
    //     margin: 1rem 0 2rem;
    //     font-size: 1.6rem;
    //     font-weight: 500;
    //     justify-content: center;
    //     line-height: 2.4rem;
    //     color: $light_gray;
    //     text-align: center;

    //     img {
    //         width: 1.5rem;
    //         height: 1.5rem;
    //         flex-shrink: 0;
    //         margin-inline: 0.5rem 0.4rem;
    //     }
    // }
    .current_bal {
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 2.2rem;
        text-align: center;
        color: #D5D5D5;
        margin: 0.4rem 0 2.4rem;
    }

    form {
        .custom_input {
            margin-bottom: 3rem;

            label {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.8rem;
                text-align: left;
                margin-bottom: 0.5rem;
                color: #D5D5D5;
            }

            .input_in {
                input {
                    padding-inline: 5rem 11rem;
                }

                &.right_icon_input {
                    >div {
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 1.7rem;
                        color: rgba($black, 0.5);
                    }
                }
            }
        }

        .custom_checkbox {
            display: flex;
            align-items: flex-start;

            &:not(:last-child) {
                margin-bottom: 1.4rem;
            }

            input {
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 0.2rem;
                flex-shrink: 0;
                margin-right: 1rem;
                appearance: none;
                background-color: $white;
                transition: 300ms ease-in-out;

                &:checked {
                    background-color: #0DC2FF;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" /></svg>');
                    background-size: contain;
                    background-position: center;
                }
            }

            label {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }

        .stake_btn {
            margin-top: 5.4rem;
            height: 5.3rem;
        }
    }
}