@import "../../../../assets/theme/_var.scss";

.leaderboard_sec {
    text-align: center;
    // min-height: 100dvh;
    display: flex;
    align-items: center;
    // background: url("../../../../assets/images/leaderboard-banner-bg.png") center/cover no-repeat;
    // mix-blend-mode: screen;
    padding: 10rem 0;

    @media (max-width: 767px) {
        min-height: auto;
        padding: 16rem 0 10rem;
    }

    h2 {
        font-family: $secondaryfont;
        font-size: 10.6rem;
        font-weight: 700;
        line-height: 1;

        @media (max-width: 1679px) {
            font-size: 10.6rem;
        }

        @media (max-width: 1599px) {
            font-size: 9.4rem;
        }

        @media (max-width: 1479px) {
            font-size: 8.4rem;
        }

        @media (max-width: 1199px) {
            font-size: 7.2rem;
        }

        @media (max-width: 991px) {
            font-size: 6rem;
        }

        @media (max-width: 767px) {
            font-size: 4rem;
        }

        @media (max-width: 575px) {
            font-size: 3.2rem;
        }
    }

    p {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1;
        margin: 1rem 0 3.5rem;

        @media (max-width: 1679px) {
            font-size: 2.8rem;
            margin: 0.8rem 0 3rem;
        }

        @media (max-width: 1599px) {
            font-size: 2.4rem;
        }

        @media (max-width: 991px) {
            font-size: 2rem;
        }

        @media (max-width: 575px) {
            font-size: 1.8rem;
        }
    }

    .custom_btn {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 4.2rem;
        text-align: center;
        width: 71.8rem;
        height: 10.4rem;
        background: radial-gradient(104.1% 104.1% at 51.79% 2.81%, rgba(23, 23, 23, 0) 0%, rgba(13, 194, 255, 0.2) 49%, #0DC2FF 97%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        border: none;
        box-shadow: 0px -1px $white;
        margin: 0 auto;
        outline: none;

        @media (max-width: 1679px) {
            font-size: 2.4rem;
            width: 60rem;
            height: 8.8rem;
            line-height: 1.4;
        }

        @media (max-width: 1599px) {
            font-size: 2rem;
            width: 50rem;
        }

        @media (max-width: 991px) {
            font-size: 1.6rem;
        }

        @media (max-width: 575px) {
            width: 100%;
        }
    }
}