@import "../../../../assets/theme/_var.scss";


.start_earning {
    overflow-x: clip;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    text-align: center;
    background: url("../../../../assets/images/dashboard-banner.png") 70% center/680px no-repeat;
    padding: 19.5rem 0;

    @media (max-width: 1399px) {
        padding: 10rem 0;
    }

    @media (max-width: 767px) {
        padding: 14rem 0 8rem;
        min-height: auto;
    }

    @media (max-width: 575px) {
        background-position: 100px;
    }

    .earning_in {
        position: relative;
        z-index: 1;

        .top_shadow,
        .right_shadow,
        .left_shadow {
            position: absolute;
            pointer-events: none;
            z-index: -1;
        }


        .top_shadow {
            top: 0rem;
            right: -16rem;
        }

        .left_shadow {
            left: -15rem;
            top: 30rem;
        }

        .right_shadow {
            right: -36rem;
            bottom: -10rem;
        }

        @media (max-width: 1679px) {
            .top_shadow {
                top: -24rem;
                right: -4rem;
                width: 40rem;
            }

            .left_shadow {
                width: 26rem;
            }

            .right_shadow {
                right: -30rem;
                bottom: -50rem;
                width: 60rem;
            }
        }

        @media (max-width: 1399px) {
            .top_shadow {
                width: 30rem;
                top: -15rem;
                right: 0;
            }

            .left_shadow {
                width: 18rem;
            }

            .right_shadow {
                right: -15rem;
                bottom: -24rem;
                width: 40rem;
            }
        }

        @media (max-width: 767px) {
            .top_shadow {
                right: -16rem;
            }

            .left_shadow {
                width: 12rem;
                top: 8rem;
                left: -8rem;
            }

            .right_shadow {
                right: -5rem;
                bottom: -12rem;
                width: 18rem;
            }
        }

        @media (max-width: 575px) {
            .top_shadow {
                right: -10rem;
            }

            .left_shadow {
                left: -2rem;
            }

            .right_shadow {
                right: -5rem;
                bottom: -12rem;
                width: 18rem;
            }
        }

        @media (max-width: 419px) {
            .top_shadow {
                width: 24rem;
            }

            .left_shadow {
                top: 8rem;
                width: 10rem;
                left: -5rem;
            }

            .right_shadow {
                right: -5rem;
                bottom: -12rem;
                width: 18rem;
            }
        }

        h1 {
            font-size: 6.2rem;
            font-weight: 900;
            line-height: 6rem;
            text-align: center;
            margin-bottom: 17rem;
            max-width: 86.5rem;
            margin-inline: auto;

            @media (max-width: 1679px) {
                line-height: 1.4;
                font-size: 4.4rem;
                margin-bottom: 12rem;
            }

            @media (max-width: 1599px) {
                font-size: 4rem;
                margin-bottom: 10rem;
            }

            @media (max-width: 1479px) {
                font-size: 3.6rem;
                margin-bottom: 8rem;
                max-width: 60rem;
            }

            @media (max-width: 1399px) {
                font-size: 3.2rem;
                margin-bottom: 6rem;
            }

            @media (max-width: 991px) {
                font-size: 2.8rem;
            }

            @media (max-width: 575px) {
                font-size: 2.4rem;
                margin-bottom: 3.4rem;
            }
        }

        h2 {
            font-family: $secondaryfont;
            font-size: 22.5rem;
            font-weight: 700;
            line-height: 1;

            @media (max-width: 1679px) {
                font-size: 20rem;
            }

            @media (max-width: 1599px) {
                font-size: 18rem;
            }

            @media (max-width: 1479px) {
                font-size: 15rem;
            }

            @media (max-width: 1399px) {
                font-size: 14rem;
                margin-bottom: 1rem;
            }

            @media (max-width: 991px) {
                font-size: 10rem;
            }

            @media (max-width: 575px) {
                font-size: 6rem;
            }
        }

        h3 {
            font-weight: 400;
            font-size: 5rem;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 2.1rem;

            @media (max-width: 1679px) {
                font-size: 4.4rem;
            }

            @media (max-width: 1599px) {
                font-size: 4rem;
            }

            @media (max-width: 1479px) {
                font-size: 3.6rem;
            }

            @media (max-width: 1399px) {
                font-size: 3.2rem;
            }

            @media (max-width: 991px) {
                font-size: 2.8rem;
            }

            @media (max-width: 575px) {
                font-size: 2.4rem;
                margin-bottom: 1.4rem;
            }
        }

        h5 {
            max-width: 61.5rem;
            margin-inline: auto;
            font-weight: 400;
            font-size: 5rem;
            line-height: 121%;
            margin-top: 21.1rem;
            letter-spacing: 0%;
            text-align: center;

            @media (max-width: 1679px) {
                font-size: 4.4rem;
                margin-top: 12rem;
                line-height: 1.4;
            }

            @media (max-width: 1599px) {
                font-size: 4rem;
                margin-top: 10rem;
            }

            @media (max-width: 1479px) {
                font-size: 3.6rem;
                margin-top: 8rem;
            }

            @media (max-width: 1399px) {
                font-size: 3.2rem;
                margin-top: 6rem;
            }

            @media (max-width: 991px) {
                font-size: 2.8rem;
            }

            @media (max-width: 575px) {
                font-size: 2.4rem;
                margin-top: 3.4rem;
            }
        }

        h6 {
            font-family: $secondaryfont;
            font-weight: 700;
            font-size: 7.5rem;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            margin-top: 4rem;


            @media (max-width: 1679px) {
                font-size: 6.4rem;
                margin-top: 12rem;
                line-height: 1.4;
            }

            // @media (max-width: 1599px) {
            //     font-size: 5rem;
            //     margin-top: 10rem;
            // }

            @media (max-width: 1479px) {
                font-size: 5rem;
                margin-top: 10rem;
            }

            @media (max-width: 1399px) {
                font-size: 4.6rem;
                margin-top: 6rem;
            }

            @media (max-width: 991px) {
                font-size: 4rem;
            }

            @media (max-width: 575px) {
                font-size: 3.4rem;
                margin-top: 1.4rem;
            }
        }

        .stake_btn {
            margin: 0 auto;
            background: transparent;
            border: 1px solid white;
            width: 52.4rem;
            height: 7.4rem;
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 3.8rem;

            @media (max-width: 1399px) {
                width: 40rem;
                height: 6rem;
                font-size: 2.4rem;
            }

            @media (max-width: 767px) {
                font-size: 2rem;
                height: 5rem;
                width: auto;
            }

            &::before {
                background: radial-gradient(circle, #1FECFF 0%, #009DFF 100%);
                filter: blur(2.3rem);
                transform: translate(40%, -70%);
                top: 50%;
                left: 50%;
                width: 90%;
                height: 6rem;
                transition: 300ms ease-in-out;
            }

            &:hover {
                &::before {
                    filter: blur(3rem);
                    transform: rotate(180deg) translateX(50%) translateY(50%);
                }
            }
        }
    }
}