@import "../../../../assets/theme/_var.scss";

.custom_input {
    .input_in {

        input,
        textarea {
            height: 4.1rem;
            border-radius: 1.1rem;
            background: linear-gradient(180deg, $white, $white) padding-box, linear-gradient(141.5deg, #0CD3A5 2.35%, #007BFF 97.65%) border-box;
            border: 1px solid transparent;
            outline: none;
            font-size: 2.2rem;
            font-weight: 400;
            padding: 0 2rem;
            background-color: transparent;
            transition: 300ms ease-in-out;
            color: $black;
            width: 100%;

            &:enabled {
                &:focus {
                    border-color: $secondaryclr;
                }
            }

            &:disabled,
            &:read-only {
                background-color: $disable_bg !important;
                border-color: rgba($white, 0.1) !important;
                color: rgba($white, 0.5) !important;
            }
        }

        textarea {
            min-height: 12rem;
            padding-top: 0.8rem;
            resize: none;
        }

        &.icon_input {
            position: relative;

            input {
                padding-left: 4rem;
            }

            .input_icon {
                position: absolute;
                top: 50%;
                left: 0.8rem;
                transform: translateY(-50%);
                color: $black;

                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }

        &.right_icon_input {
            position: relative;

            input {
                padding-right: 4rem;
            }

            .right_input_icon {
                position: absolute;
                top: 50%;
                right: 0.8rem;
                transform: translateY(-50%);
                color: $black;

                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }
    }
}