@import "../../../../assets/theme/_var.scss";

.staking_statements {
    padding: 22.4rem 0 20rem;
    overflow-x: clip;

    @media (max-width: 1399px) {
        padding: 14rem 0;
    }

    @media (max-width: 575px) {
        padding: 10rem 0;
    }

    .statements_in {
        position: relative;
        z-index: 1;

        .coins {
            position: absolute;
            z-index: -1;
            top: -287px;
            right: -290px;
            pointer-events: none;
        }

        .custom_table {
            h2 {
                @media (min-width: 1600px) {
                    font-size: 9.6rem;
                    line-height: 11.6rem;
                }
            }

            thead {
                th {
                    text-align: center;

                    @media (min-width: 1600px) {
                        font-size: 2.8rem;
                        line-height: 3rem;
                    }

                    &:first-child {
                        padding-left: 3.3rem;

                    }

                    @media (max-width: 575px) {
                        &:first-child {
                            padding-left: 2rem;
                        }

                        br {
                            display: none;
                        }
                    }
                }
            }

            tbody {
                td {
                    text-align: center;

                    .date {
                        display: block;
                        font-weight: 500;
                    }

                    &:first-child {
                        padding-left: 3.3rem;


                        @media (max-width: 575px) {
                            padding-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}