$basefont: "Inter", serif;
$secondaryfont: "Bebas Neue", serif;

$baseclr: #4AF058;
$black: black;
$white: white;
$redclr: #ff0000;

$btn_text: #281217;

$light_gray: #A08F92;

$layout_bg: #1b1b1b;

$secondaryclr: #0DC2FF;

$gray90: #909090;

$table_header_bg: #332955;

$disable_bg: rgb(56, 56, 56);