$basefont: "Clash Display", serif;


$baseclr: #4AF058;
$black: black;
$white: white;
$redclr: #FF4C73;

$btn_text: #281217;

$light_gray: #A08F92;

$layout_bg: #2E2C2F;

$secondaryclr: #9168F6;

$table_header_bg: #332955;

$disable_bg: rgb(56, 56, 56);