@import "../../../../assets/theme/_var.scss";

.custom_label {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: $light_gray;

    @media (max-width: 991px) {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
}