@import "../../../../assets/theme/_var.scss";

.revenue_pool_sec {
    padding: 3.7rem 0 10rem;
    overflow-x: clip;

    .revenue_pool_box {
        position: relative;
        z-index: 1;
        width: fit-content;
        margin: 0 auto;

        &::before {
            content: "";
            width: 146.2rem;
            height: 146.2rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url("../../../../assets/images/krz-logo-bg.png") center/contain no-repeat;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 300ms ease-in-out;

            @media (max-width: 1679px) {
                width: 134rem;
                height: 134rem;
            }

            @media (max-width: 1579px) {
                width: 124rem;
                height: 124rem;
            }

            @media (max-width: 1479px) {
                width: 106rem;
                height: 106rem;
            }

            @media (max-width: 991px) {
                width: 98rem;
                height: 98rem;
            }

            @media (max-width: 575px) {
                width: 80rem;
                height: 80rem;
            }

            @media (max-width: 399px) {
                width: 64rem;
                height: 64rem;
            }
        }

        img {
            width: 40.2rem;
            transition: 300ms ease-in-out;
            height: 40.2rem;

            @media (max-width: 1679px) {
                width: 38rem;
                height: 38rem;
            }

            @media (max-width: 1579px) {
                width: 34rem;
                height: 34rem;
            }

            @media (max-width: 1479px) {
                width: 28rem;
                height: 28rem;
            }

            @media (max-width: 991px) {
                width: 22rem;
                height: 22rem;
            }

            @media (max-width: 575px) {
                width: 18rem;
                height: 18rem;
            }

            @media (max-width: 399px) {
                width: 16rem;
                height: 16rem;
            }
        }

        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }

            img {
                transform: rotate(16deg);
            }
        }
    }

    .revenue_details {
        text-align: center;

        h3 {
            margin: 4rem 0 2.5rem;
            font-size: 13rem;
            font-weight: 700;
            line-height: 13rem;
            font-family: $secondaryfont;

            @media (max-width: 1679px) {
                font-size: 12rem;
                line-height: 1.4;
            }

            @media (max-width: 1599px) {
                font-size: 10.5rem;
            }

            @media (max-width: 1479px) {
                font-size: 9rem;
            }

            @media (max-width: 1199px) {
                font-size: 8rem;
            }

            @media (max-width: 575px) {
                font-size: 6rem;
                font-weight: 700;
            }

            @media (max-width: 399px) {
                font-size: 5rem;
            }

            span {
                color: $secondaryclr;
            }
        }

        p {
            font-size: 3.3rem;
            font-weight: 400;
            line-height: 5.8rem;

            @media (max-width: 1679px) {
                font-size: 3rem;
                line-height: 1.4;
            }

            @media (max-width: 1599px) {
                font-size: 2.8rem;
            }

            @media (max-width: 1479px) {
                font-size: 2.4rem;
            }

            @media (max-width: 1199px) {
                font-size: 2rem;
            }

            @media (max-width: 575px) {
                font-size: 1.6rem;
            }
        }

        h4 {
            font-size: 4.2rem;
            font-weight: 700;
            line-height: 5.8rem;

            @media (max-width: 1679px) {
                font-size: 3.8rem;
                line-height: 1.6;
            }

            @media (max-width: 1599px) {
                font-size: 3.4rem;
            }

            @media (max-width: 1479px) {
                font-size: 3rem;
            }

            @media (max-width: 1199px) {
                font-size: 2.6rem;
            }

            @media (max-width: 575px) {
                font-size: 2.2rem;
            }
        }

        h2 {
            margin: 6rem 0 4rem;
            font-weight: 700;
            color: $secondaryclr;
            font-size: 6rem;
            line-height: 7.2rem;

            @media (max-width: 1679px) {
                font-size: 5.2rem;
                line-height: 1.6;
            }

            @media (max-width: 1599px) {
                font-size: 4.6rem;
            }

            @media (max-width: 1479px) {
                font-size: 4rem;
            }

            @media (max-width: 1199px) {
                font-size: 3.6rem;
            }

            @media (max-width: 575px) {
                font-size: 2.4rem;
            }

            span {
                display: block;
                line-height: 5.8rem;
                font-size: 4.2rem;

                @media (max-width: 1679px) {
                    font-size: 3.8rem;
                    line-height: 1.6;
                }

                @media (max-width: 1599px) {
                    font-size: 3.4rem;
                }

                @media (max-width: 1479px) {
                    font-size: 3rem;
                }

                @media (max-width: 1199px) {
                    font-size: 2.6rem;
                }

                @media (max-width: 575px) {
                    font-size: 1.8rem;
                }
            }
        }
    }

    .custom_table {
        .table-responsive {
            thead {
                th {
                    text-align: center;

                    @media (min-width: 1199px) {
                        white-space: normal;
                    }

                    @media (min-width: 1600px) {
                        font-size: 2.8rem;
                    }
                }
            }

            tbody {
                td {
                    text-align: center;

                    .date {
                        font-weight: 600;
                        display: block;
                    }
                }
            }
        }
    }
}