@import "../../../../assets/theme/_var.scss";

.logout_modal {
    .modal-content {
        padding-top: 9.5rem;

        @media (max-width: 991px) {
            padding-top: 4rem;
        }
    }

    .modal_heading {
        h2 {
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 3.4rem;

            @media (max-width: 1399px) {
                font-size: 2.4rem;
                line-height: 1.4;
            }

            @media (max-width: 991px) {
                font-size: 2rem;
            }

            @media (max-width: 321px) {
                br {
                    display: none;
                }

                span {
                    margin-left: 0.2rem;
                }
            }

            span {
                font-size: 4rem;
                line-height: 5rem;

                @media (max-width: 1399px) {
                    font-size: 2.8rem;
                }

                @media (max-width: 991px) {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .modal_action {
        display: flex;
        align-items: center;

        @media (max-width: 359px) {
            flex-wrap: wrap;
        }

        >button {
            &:not(:last-child) {
                margin-right: 2rem;

                @media (max-width: 359px) {
                    margin: 0 0 0.8rem;
                }
            }

            &.custom_btn {
                width: 19.1rem;
                border-radius: 5rem;

                @media (max-width: 359px) {
                    width: 100%;
                }

                &.cancel_btn {
                    border-color: #BF9DF7;
                    background-color: transparent;
                    color: #BF9DF7;

                    &:hover {
                        background-color: #BF9DF7;
                        color: $black;
                    }
                }
            }
        }
    }
}