@import "../../../../assets/theme/_var.scss";

.logout_modal {
    .modal-content {
        padding-bottom: 4.9rem;

        &::before {
            content: unset;
        }
    }

    .modal_heading {
        h2 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 3.6rem;
            letter-spacing: -0.03em;
            text-align: center;
            margin-bottom: 4.8rem;

            @media (max-width: 1599px) {
                font-size: 2.6rem;
                line-height: 1.4;
                margin-bottom: 4rem;
            }

            @media (max-width: 575px) {
                font-size: 2rem;
            }
        }
    }

    .modal_action {
        display: flex;
        justify-content: center;

        button {
            width: 12.6rem;
            height: 4.2rem;
            font-size: 1.7rem;
            font-weight: 500;

            &:not(:last-child) {
                margin-right: 3.6rem;
            }
        }
    }
}