@import "../../../../assets/theme/_var.scss";

.congratulations_modal {
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4.5rem;
        padding-bottom: 3.4rem;
    }

    .modal_heading {
        img {
            width: 17.1rem;
            margin: 0 auto 2.9rem;
            display: block;
        }

        h2 {
            margin-bottom: 0;
            font-size: 2.6rem;
            line-height: 3.1rem;
            margin: 0 -3rem 1rem;
            @media (max-width: 575px) {
                margin: 0 0 1rem;
            }
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.8rem;
        max-width: 29rem;
        margin: 0 auto;
        text-align: center;

        @media (max-width: 991px) {
            font-size: 1.6rem;
            line-height: 2;
        }

        span {
            color: #0DC2FF;
        }
    }

    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #D5D5D5;
        font-size: 7rem;
        font-weight: 700;
        line-height: 1;
        font-family: $secondaryfont;
        margin: 1rem 0 2rem;

        span {
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1;
            align-self: flex-end;
            transform: translateY(-1rem);
        }

        >div {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: url("../../../../assets/images/krz-logo-bg.png") center/contain no-repeat;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: 300ms ease-in-out;
            }

            img {
                width: 5.6rem;
                height: 5.6rem;
                flex-direction: 0;
                transition: 300ms ease-in-out;
                margin-right: 0.6rem;
            }

            &:hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                img {
                    transform: rotate(16deg);
                }
            }
        }

    }

    .custom_btn {
        background: transparent;
        border: 1px solid white;
        font-weight: 400;

        @media (min-width: 1500px) {
            font-size: 2.6rem;
        }

        &::before {
            background: radial-gradient(circle, #1FECFF 0%, #009DFF 100%);
            filter: blur(2.3rem);
            transform: translate(40%, -70%);
            top: 50%;
            left: 50%;
            width: 90%;
            height: 6rem;
        }

        &:hover {
            &::before {
                filter: blur(2rem);
                transform: rotate(180deg) translateX(50%) translateY(50%);
            }
        }
    }
}